<!doctype html>
<html ng-app="charApp">

<head>
    <title>Characters</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
</head>

<body>
    <a id="editLink" href="/user">Edit Character Profile</a>

    <div ng-controller="myController">
        <h2 id="welcomeText">Welcome <%= username %></h2>
        <a id="logoutLink" href="/logout">logout</a>
    </div>
    <hr>
    <span id="indexMsg">
        <%= msg %>
    </span>
    <hr>
    <span id="charText">
      Character Name: <%= charactername %>
      Class: <%= class %>
      Race: <%= race %>
      Background: <%= background %>
      Image URL: <%= img %>
      Strength: <%= str %>
      Dexterity: <%= agi %>
      Constitution: <%= con %>
      Intelligence: <%= int %>
      Wisdom: <%= wis %>
      Charisma: <%= cha %>
      Backstory: <%= backstory %>
    </span>
    <script src="http://code.angularjs.org/1.2.9/angular.min.js"></script>
    <script src="/javascripts/charApp.js"></script>
</body>

</html>
