<!doctype html>
<html ng-app="myApp">

<head>
    <title>Characters</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
</head>

<body>
    <div class="form-container" ng-controller="myController">
        <p id="sectionTitle" class="form-header">User Profile</p>
        <form method="POST" action="/user/update">
            <label>Username:</label>
            <input type="text" id="username" name="username" ng-model="user.username" disabled><br>
            <label>Email:</label>
            <input type="email" id="email" name="email" ng-model="user.email"><br>

            <hr>

            <h2>Character</h2>
            <label>Character Name:</label>
            <input type="text" id="name" name="name" ng-model="user.character.name"><br>
            <label>Class:</label>
            <input type="text" id="class" name="class" ng-model="user.character.class"><br>
            <label>Race:</label>
            <input type="text" id="race" name="race" ng-model="user.character.race"><br>
            <label>Background:</label>
            <input type="text" id="background" name="background" ng-model="user.character.background"><br>
            <label>Image URL:</label>
            <input type="text" id="img" name="img" ng-model="user.character.img"><br>
            <label>Strength:</label>
            <input type="number" id="str" name="str" ng-model="user.character.str"><br>
            <label>Agility:</label>
            <input type="number" id="agi" name="agi" ng-model="user.character.agi"><br>
            <label>Constitution:</label>
            <input type="number" id="con" name="con" ng-model="user.character.con"><br>
            <label>Intelligence:</label>
            <input type="number" id="int" name="int" ng-model="user.character.int"><br>
            <label>Wisdom:</label>
            <input type="number" id="wis" name="wis" ng-model="user.character.wis"><br>
            <label>Charisma:</label>
            <input type="number" id="cha" name="cha" ng-model="user.character.cha"><br>
            <label>Backstory:</label>
            <textarea id="backstory" name="backstory" ng-model="user.character.backstory"><br>
            <input type="submit" id="save" value="Save">
        </form>
    </div>
    <form method="POST" action="/user/delete">
        <input type="submit" id="delete" value="Delete User">
    </form>
    <hr>
    <span id="userMsg">
    <%= msg %>
    </span>
    <script src="http://code.angularjs.org/1.2.9/angular.min.js"></script>
    <script src="/javascripts/my_app.js"></script>
    <a id="homeLink" href="/">Home</a>
</body>

</html>
